

.nav {
  display: inline-flex;
  background-color: #ffffff;
  justify-content: space-between; 
  height: 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 340px;
  flex: 1;
  align-items: flex-start;
}

.nav-2 {
  display: inline-flex;
  background-color: #ffffff;
  justify-content: space-between; 
  height: 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 420gpx;
  flex: 1;
  align-items:flex-start;
}

.nav-3 {
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 29px;
  width: 1140px;
  border-bottom: 1px solid black;
  background-color: #ffffff;
}

/* .nav > :nth-child(6) {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  
} */

.nav *:nth-child(-n+5) {
  color: red;
  justify-content: flex-start;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
  text-align: left;
  align-items: flex-start;
  
}

.nav-2 *:nth-child(-n+4) {
  color: green;
  justify-content: flex-end;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
  text-align: right;
  align-items: flex-end;
}

.main {
  display: flex;
}

.left-nav {
  height: 500px;
  width: 100px;
  background-color: #ffffff;
  font-size: 12px;
  
}

div.left-nav > .nav-color .nc1 {
  color: #006d3c;
  font-family: sans-serif;
}
div.left-nav > .nav-color .nc2 {
  color: #00a0e9;
  font-family: sans-serif;

}
div.left-nav > .nav-color .nc3 {
  color: #1d2088;
  font-family: sans-serif;

}
div.left-nav > .nav-color .nc4 {
  color: #ff0000;
  font-family: sans-serif;

}

.left-nav > .left-nav2 {
  font-size: 12px;
  /* text-align: center; */
  font-family: sans-serif;

}

.left-nav > .left-nav2 > .left-nav2-1 {
  border-bottom: 1px solid #000000;
}

.bf1 {
  display: flex;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
}